<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.reactnativetencentad">
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <application android:usesCleartextTraffic="true">
    <provider
      android:name="com.qq.e.comm.GDTFileProvider"
      android:authorities="${applicationId}.gdt.fileprovider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/gdt_file_path" />
    </provider>
    <!-- 声明SDK所需要的组件 -->
    <service
      android:name="com.qq.e.comm.DownloadService"
      android:exported="false" />
    <!-- 请开发者注意字母的大小写，ADActivity，而不是AdActivity -->
    <activity
      android:name="com.qq.e.ads.ADActivity"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
    <activity
      android:name="com.qq.e.ads.PortraitADActivity"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
      android:screenOrientation="portrait" />
    <activity
      android:name="com.qq.e.ads.LandscapeADActivity"
      tools:replace="android:screenOrientation"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
      android:screenOrientation="landscape" />
  </application>
</manifest>
